My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/studybuddy",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "33e46234-e271-4454-b7b8-500e6cc2705b",
      "name": "Webhook",
      "webhookId": "64dea426-76ac-4493-9812-9b3bb29b4a34"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c2c316d2-77b1-4969-abf1-8532bb838123",
              "leftValue": "={{$json.body.subject}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "8e721bb0-6813-49d6-b11f-d192d827cb5e",
              "leftValue": "={{$json.body.phone}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "5dbf94a7-b1d0-492e-9bca-7ef11db347fd",
              "leftValue": "={{$json.body.studyTime}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "411ca974-19d3-4d7f-9023-510faba6d888",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Missing subject, phone or studyTime\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        128
      ],
      "id": "04d061f5-3b57-4d76-99c9-55b4510625e6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b90c0a69-2364-4820-b142-670376e77b9f",
              "name": "={{$json.subject}} Study Session",
              "value": "={{$json.subject}} Study Session Example",
              "type": "string"
            },
            {
              "id": "ec92e17c-d75d-49e6-ba9a-77193d999125",
              "name": "description",
              "value": "=📚 Flashcards Generated\n\n📝 MCQ Quiz Generated\n\nOpen Quiz:\n\n{{ $json.quizLink }}\n",
              "type": "string"
            },
            {
              "id": "3ee31efa-0576-4f7c-9b45-80eb0295296b",
              "name": "endTIme",
              "value": "={{ DateTime.fromISO($json.studyTime).plus({ hours: 1 }).toISO() }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -80
      ],
      "id": "5d4e877d-40ff-48c3-83c4-8fb3ccaf54f3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "trigzin2005@gmail.com",
          "mode": "list",
          "cachedResultName": "trigzin2005@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        640,
        -80
      ],
      "id": "8b2142f9-eb17-4ce1-a761-9fa38db827fe",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Vkgr9eQwug8IVk66",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "230cad1d-5d78-432c-aaa8-dd42d25f28e7",
              "name": "phone",
              "value": "=={{ $json.body.phone }}   ✅",
              "type": "string"
            },
            {
              "id": "2abbf2f1-83bb-492c-98d8-07b810df1118",
              "name": "message",
              "value": "🎓 CampusFlow  Hi!  Your {{$json.subject}} quiz is ready.  📚 Flashcards generated 📝 MCQ Quiz generated  📅 Study session added to Google Calendar.  Open Quiz: {{$json.quizLink}}  Happy Studying! 🚀",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -80
      ],
      "id": "bca01f0d-6b56-45a8-b8af-ff5529ccca3a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1072,
        -80
      ],
      "id": "06e61c13-db31-44f8-ad2b-243fbe5345e2",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ed135fc3-d5ca-4015-8d8f-404902210d65",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef46d450a1d7bb717f39d60d610697ca14ba66686c0782fe52639878b77bc780"
  },
  "nodeGroups": [],
  "id": "56AL56CYSvBNtFkR",
  "tags": []
}